<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Falling In Love With Sadness</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>


	<link rel="stylesheet" href="css/style.css">
	
</head>

<body>
		<main>
			<div class="bg">
			<!-- Scrolling Text -->
			<div class="holder">
					<%- body %>
				</div>
		<br>
		<br>
			<!-- Images and Buttons -->
			<div class="container-fluid images-and-buttons">
					<div class="row">
						<div class="col-xs-6" align="right">
								<a id="myLink" title="share your story" href="#" onclick="document.getElementById('id02').style.display = 'block';return false;"><img src="/img/write.png"></img></a>
						</div>
						<div class="col-xs-6" align="left">
								<a id="myLink" title="preorder" href="#" onclick="window.open('http://smarturl.it/EMKCD04')"><img src="/img/preorder.png"></img></a>
						</div>
					</div>
					<br>
					<br>
					<div class="row" align="center">
						<div class="col-md-3"></div>
						<div class="col-md-2">
								<img src="/img/EmikaRecordsWhite.png" class="img-fluid" alt="">
								<br>
								<br>
						</div>
						<div class="col-md-2" align="center">
								<img src="/img/Heart.png" class="img-fluid" alt="">
								<br>
								<br>
						</div>
						<div class="col-md-2">
								<img src="/img/HMLogo.png" class="img-fluid" alt="">
								<br>
								<br>
						</div>
						<div class="col-md-3"></div>
					</div>
			</div>
			<br>
			<br>
			<br>
		</div>

		<div class="w3-container">
				<div id="id01" class="w3-modal" align="center">
						<div class="titlebar">
								<div class="buttons">
									<div class="close">
											<a class="closebutton" id="closebutton" on-tap="document.getElementById('id01').style.display='none'" onclick="document.getElementById('id01').style.display='none'" ><span style = "line-height: 9px; vertical-align: 50%;"><strong>x</strong></span></a>

									</div>
								</div>
								Falling In Love With Sadness
								<!-- window title -->
							</div>
					<div class="w3-modal-content" style="min-height: 450px;">
						
							<div class="content">
									<% if (success.length > 0) { %>
										<p>Thank You xx</p>
								<% } else { %>
							<p>Dear Fans,</p>
							/s/ /s/
							<p>Thank you for visiting my page.</p>
							/s/ /s/
							<p>I would like to invite you to share your experiences of depression and mental health. You can write anonymously and in your own language.</p>
							/s/ /s/
							<p>By pre-ordering my album, you will also be supporting Music Minds Matter, a 24/7 service that helps musicians through tough times.</p>
							/s/ /s/
							<p>Thank you for sharing!</p>
							/s/ /s/
							<p>Emika ♥</p>
							<% } %> 
						</div>
					</div>
				</div>
			</div>

			<!-- Data Entry -->
			<div class="w3-container">
					<div id="id02" class="w3-modal" align="center">
							<div class="titlebar">
									<div class="buttons">
										<div class="close">
												<a class="closebutton2" id="closebutton2" onclick="document.getElementById('id02').style.display='none'" on-tap="document.getElementById('id02').style.display='none'" ><span style = "line-height: 9px; vertical-align: 50%;"><strong>x</strong></span></a>
	
										</div>
									</div>
									Falling In Love With Sadness
									<!-- window title -->
								</div>
						<div class="w3-modal-content">
							<div class="w3-container">
								<form action="/create" method="POST">

									<div class="form-group">
											<textarea name="confession" rows="10" class="form-control" style="background-color:black; color: green; resize: none; border:0px; overflow: auto;	outline: none; -webkit-box-shadow: none; -moz-box-shadow: none;	box-shadow: none;" placeholder="How does your depression feel?
Wie fühlt sich deine Depression an?
Jak się czuje twoja depresja? 
Как ваша депрессия?
¿Cómo se siente tu depresión?
Jaká je tvoje deprese?
你沮喪時的心境？"></textarea>
									</div>
			
									<div class="form-group">
									<button type="submit" style="background-color:black; color:green; float: right">Submit</button>
									</div>
			
							</form>
							</div>
						</div>
					</div>
				</div>



			<!-- Autoscroll -->
		//	<script src="/js/scroll.js"></script>
	
		
			<!-- Page Load Position -->						
		<script>
					pos = $(window).height();
					$('html, body').animate({scrollTop:pos}, "slow");
			</script>		
<script>
		$(document).ready(function(){
			setTimeout(function(){document.getElementById('id01').style.display='block'}, 2000);
		});
</script>
	<script src="/js/typerText.js"></script>

	<script>$('closebutton').bind('tap',function() {document.getElementById('id01').style.display='none'});</script>
	<script>$('closebutton2').bind('tap',function() {document.getElementById('id02').style.display='none'});</script>

			<br>
			<br>
			<br>

			<!-- Previous Content -->
			<div align=center class="existing-site">
				<section>
			<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3814841846/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/melanfonie-2"&gt;Melanfonie by EMIKA&lt;/a&gt;</iframe>


			<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=2750084397/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/melanfonie-momente"&gt;Melanfonie Momente by EMIKA&lt;/a&gt;</iframe>


			<br><br>



			<iframe style="border: 0; width: 233px; height: 233px;" src="https://bandcamp.com/EmbeddedPlayer/album=552256780/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/flashbacks"&gt;Flashbacks by EMIKA&lt;/a&gt;</iframe>

			<iframe style="border: 0; width: 233px; height: 233px;" src="https://bandcamp.com/EmbeddedPlayer/album=539305556/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/drei"&gt;DREI by EMIKA&lt;/a&gt;</iframe>

			<iframe style="border: 0; width: 233px; height: 233px;" src="https://bandcamp.com/EmbeddedPlayer/album=2485336970/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/klavirni"&gt;Klavirni by EMIKA&lt;/a&gt;</iframe>

			<br><br>


			<iframe style="border: 0; width: 233px; height: 233px;" src="https://bandcamp.com/EmbeddedPlayer/album=3634596170/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/forever-never"&gt;Forever Never by EMIKA&lt;/a&gt;</iframe>


			<iframe style="border: 0; width: 233px; height: 233px;" src="https://bandcamp.com/EmbeddedPlayer/album=2770821517/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/melancholia-euphoria"&gt;Melancholia Euphoria by EMIKA&lt;/a&gt;</iframe>

			<iframe style="border: 0; width: 233px; height: 233px;" src="http://bandcamp.com/EmbeddedPlayer/album=635676891/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless="">&lt;a href="http://emika-official.bandcamp.com/album/drei-remixes"&gt;DREI - Remixes by EMIKA&lt;/a&gt;</iframe>

			<br><br>

			<iframe src="https://embed.spotify.com/?uri=https://open.spotify.com/user/emikamusic/playlist/5HxXr2e31Q0Sp9jjIbzHEx?si=81DP-4BORNWYTrveHkrr8g" allowtransparency="true" width="350" height="350" frameborder="0"></iframe>

			<iframe src="https://embed.spotify.com/?uri=https://open.spotify.com/user/emikamusic/playlist/6nkuDYjp9VChyyzfyR3qW3?si=KD1tUXVdTi-cviBaGwgc6A" allowtransparency="true" width="350" height="350" frameborder="0"></iframe>

			<br>
					</section>

					<article>

						<br><div style="font-family: 'Josefin Sans', sans serif;"><a href="http://www.srd.co.uk/">Distributed by SRD</a></div>
						<br>
						<br>
						<div class="links">
						<div id="main">
					<a href="http://www.facebook.com/emikamusic" title="Facebook" target="_blank"><img src="EMIKA%20RECORDS_files/facebook.png"></a>

											<a href="http://www.soundcloud.com/emika_official" title="Soundcloud" target="_blank"><img src="EMIKA%20RECORDS_files/soundcloud.png"></a>

											<a href="https://youtu.be/umy5HK5loig" title="YouTube" target="_blank"><img src="EMIKA%20RECORDS_files/youtube.png"></a>

											<a href="http://twitter.com/emika_official" title="Twitter" target="_blank"><img src="EMIKA%20RECORDS_files/twitter.png"></a>

											<a href="https://instagram.com/emika_official/" title="Instagram" target="_blank"><img src="EMIKA%20RECORDS_files/instagram.png"></a>

											<a href="mailto:mail@emikarecords.com" title="Mail"><img src="EMIKA%20RECORDS_files/email.png"></a>


										
												<span class="stretch"></span>
						</div>
						</div>
					</article> 
				

			<div id="simple-translate-button" style="display: none;"></div><div id="simple-translate-panel" style="display: none;"><p>...</p></div>
			</div>
	</main>
</body>
</html>