body, html {

    background-color: black;

    background-image: url("/img/Background.jpg");
    max-height: 100vh;
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;



}

@font-face {
  font-family: helsinki;
  src: url(/helsinki.ttf);
}


#par { 
  font-size: 20pt;
  text-shadow: 2px 2px 6px #000000;

  }


.holder{
  font-family: helsinki;
  margin: 0 auto;
  overflow: hidden;
  height: 170vh;
  width: 85%;
  color: azure;

}

body.modal-open {
  overflow: visible;
}
