body, html {
    background-color: #000000;
    height: 100%;

}
.bg {
    /* The image used */
    background-image: url("/img/Background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


ul {
    display: inline-block;
}

#par { 
  font-size: 20pt;
  text-shadow: 2px 2px 6px #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.holder{
  margin: 0 auto;
  overflow:hidden;
  height:75%;
  color: azure;
}


.glyphicon {
  font-size: 60px;
}

.redbutton {
  background-color: #ff0000;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
  border-radius: 50%;

}
