
            
            <div>
                <ul id="par">
                        <% for (var confession of confessions) { %>
                            <div style="margin: 0;"><%= confession.confession %><br><br></div>
                            <% } %>
                        <% for (var confession of confessions) { %>
                            <div style="margin: 0;"><%= confession.confession %><br><br></div>
                            <% } %>
                    </ul>
                </div>
                

            

            
 
        
       