
            
            <div align="center">
                <ul id="par">
                    <% for (var confession of confessions) { %>
                        <div><%= confession.confession %><br><br></div>
                        <% } %>
                    </ul>
                </div>

            

            
 
        
       