
        <body>
        
            <div class="container-fluid" id="list">
            <% for (var event of events) { %>
            <span><%= event.description %></span>
            <% } %>
            </div>
            <div class="container-fluid"><h1>Some Text</h1></div>
 
           
        </body>
        
       