
<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
    
            <% if (errors.length > 0) { %>
                <div class="alert alert-danger">
                    <% for (error of errors) { %>
                        <%= error %><br>
                    <% } %>
                </div>
            <% } %>
            
            <form action="/edit/<%= confession.id %>" method="POST">
    
           
    
                <div class="form-group">
                    <label>confession</label>
                    <textarea name="confession" rows="5" class="form-control"><%= confession.confession %></textarea>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Update</button>
                </div>
    
            </form>
    
        </div>
    </div>